{% extends 'base.html.twig' %}
{% block title%}{{ article.title }}{% endblock %}

{% block body%}
    {% set dateCreation = article.dateCreation|date("d-m-Y") %}

    <div class="mb-5 text-center ">
        <h1>Article N°{{ article.id }}</h1>
    </div>

    <table class="table w-25 border border-dark mx-auto">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><span class="font-weight-bold">Nom de l'article </span> =>  {{ article.title|upper }}</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="border border-dark collapsed"><span class="font-weight-bold">Description </span> : {{ article.description}}</td>
            </tr>
            <tr>
                <td class="border border-dark collapsed"><span class="font-weight-bold">Date de création </span> : {{ dateCreation }}</td>
            </tr>
        </tbody>

    </table>
    <span class="d-block text-center mx-auto">Vote</span>
    <div class="table w-25  mx-auto d-flex justify-content-around mt-3">

        <div>
            <span class="d-inline-block ">{{ article.voteLike }} </span>
            <span class="d-inline-block">
                {{  article.voteLike > 1 ? ' Likes ' :' Like'}}
            </span>
            <form action="{{ path('vote',{ id: article.id }) }}"  method="POST" class="d-inline-block">
                <button type="submit"  name="action" value="add" class="btn btn-dark rounded">+</button>
            </form>
        </div>

        <div>
            <form action="{{ path('vote',{ id: article.id }) }}"  method="POST" class="d-inline-block">
                <button type="submit" name="action" value="remove" class="btn btn-dark rounded">-</button>
            </form>
            <span class="d-inline-block">{{ article.voteDislike }}  </span>
            <span class="d-inline-block">
                {{  article.voteDislike > 1 ? ' disikes ' :' disike'}}
            </span>
        </div>


    </div>
{#
    1-creation d une div
    2- creation d un formulaire et d un bouton de type submit ayant name et une value
    3- l action est une redirection vers une route
#}

{% endblock %}
